@import "reset.scss";
@import "font-awesome.scss";
@import "variables.scss";
@import "style.scss";
@import "navigation.scss";
@import "./section/section_1.scss";
@import "./section/section_2.scss";
@import "./section/section_3.scss";
@import "./section/section_4.scss";
@import "./section/section_5.scss";
@import "./section/section_6.scss";
body{
    font-family: $fontSofReg;
}
.center{
    display: flex;
    justify-content: center;
}
.btn{
    color: white;
    width: 240px;
    height: 62px;
    background-color: #7A2FDD;
}
.btn-light{
    color: #7A2FDD;
    background-color: white;
    border: 1px solid #7A2FDD;
}
h2{
    font-size: 52px;
}
p{
    font-size:20px;
}