footer{
    height: 180px;
    color: black;
    .row{
        margin-top: 50px;
        align-items: center;
        
        .btn-sub{
            
            text-align: left;
            padding: 0 25px;
            width: 100%;
            height: 46px;
            border: 1px solid rgba(75, 75, 75, 0.199);
            border-radius: 25px;
            background: none;
            color: #4B4B4B;
            letter-spacing: -0.1px;
            font-size: 15px;
            position: relative;
        }
        i.fa{
            position: absolute;
            top: 10px;
            right:25px;
            color: #4B4B4B;
            font-size: 25px;
        }
        .text{
            color: #4B4B4B;
            display: flex;
            justify-content: space-between;
            a{
                color: #4B4B4B;
                
            }
        }
    }
}