.section3{
    .container-fluid{
        margin-top: 180px;
        .text-wrapper{
            margin: 20px;
            .card{
               text-align: left;
                h3{
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                height: 180px;
                border: 1px solid #F4F4F4;
                box-sizing: border-box;
                border-radius: 8px;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
                padding: 30px;
            }
        }
        .warpper-work{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fontSofBold;
            font-size: 18px;
            .line{
                margin: 11px 0;
            }
            .line-left::before{
                content: "Third Parties";
                position: absolute;
                top: -40px;
                left: -50px;
            }
            .line-right::before{
                content: "Partners";
                position: absolute;
                top: -40px;
                left: 60px;
            }
            .line-left{
                margin-right: 10px;
                position: relative; 
            }
            .line-right{
                margin-left: 10px;
                position: relative; 
            }
            .wrapper-img{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .row{
            .wrapper-ul{
                border-bottom: 2px solid #FF7062;
                border-left: 2px solid #FF7062;
                border-right: 2px solid #FF7062;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                    .wrapper-ul-text{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        
                        margin: 20px 0;
                        .bold{
                            font-size: 18px;
                            font-family: $fontSofBold;
                            margin-bottom: 8px;
                        }
                        span{
                            color: #4B4B4B;
                            font-size: 16px;
                        }
                    }
            }
        }
        .shema{
            height: 100vh;
            background-image: url("../images/line-bg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .odo-access{
                border-radius: 25px;
                border: 2px dotted rgba(75, 75, 75, 0.315);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 0;
                img{
                    margin: 7px 0;
                    
                }
            }
            .odo{
                min-height: 150px;
                background: url("../images/odo-acces.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .card-shema{
                height: auto;
            }
        }
    }
    
}