.section6{
    background-color: #F4F4F4;
    padding: 120px 0 ;
    form{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        .form-control{
            background-color: #F4F4F4;
            border: none;
            border-radius: 0;
            
            border-bottom: 1px solid rgba(75, 75, 75, 0.315);
        }
        input{
            margin: 50px 0;
            height: 60px;
            padding: 0;
        }
        input::placeholder{
            overflow: visible;
            color: #4B4B4B;
            font-size: 18px;
            transform: translateY(-20px)
            
        }
    }
    .btn{
        align-self:flex-end;
    }
}