.section4{
    .warpper{
        padding-left: 150px;
        h2{
            font-size: 52px;
            margin-bottom: 40px;
        }
        p{
            font-size: 20px;
            margin-bottom: 50px;
        }
        .btn{
            margin-bottom: 50px;
            width: 160px;
            height: 40px;
        }
    }
    .img{
        padding: 0;
    }
}