.section3{
    .row{
        padding: 0;
    }
    .container-fluid{
        margin-top: 180px;
        .text-wrapper{
            margin: 20px;
            
            .card{
                display: flex;
                justify-content: center;
                position: relative;
                text-align: left;
                margin: 0 auto;
                
                h3{
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                .wrapper-list{
                   margin-top: 20px;
                    
                }
                .show-more{
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #FF7062;
                    bottom: -20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    cursor: pointer;
                }
                .transform{
                    transform: rotate(180deg);
                }
                
                border: 1px solid #F4F4F4;
                box-sizing: border-box;
                border-radius: 8px;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
                padding: 30px;
                
            }
            ul li i{
                color: #FF7062;
            }
            .plane{
                ul li i{
                    color: #601CBA;
                }
                .show-more{
                    background-color: #601CBA;
                }
            }
            .network{
                ul li i{
                    color: #81E8A1;
                }
                .show-more{
                    background-color: #81E8A1;
                }
            }
        }
        .warpper-work{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fontSofBold;
            font-size: 18px;
            .line{
                margin: 11px 0;
            }
            .line-left::before{
                content: "Third Parties";
                position: absolute;
                top: -40px;
                left: -50px;
            }
            .line-right::before{
                content: "Partners";
                position: absolute;
                top: -40px;
                left: 60px;
            }
            .line-left{
                margin-right: 10px;
                position: relative; 
            }
            .line-right{
                margin-left: 10px;
                position: relative; 
            }
            .wrapper-img{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 50%;
                img{
                    width: 100%;
                }
            }
        }
        .row{
            .wrapper-ul{
                border-bottom: 2px solid #FF7062;
                border-left: 2px solid #FF7062;
                border-right: 2px solid #FF7062;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background: white;
                z-index: 5;
                    .wrapper-ul-text{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        
                        margin: 20px 0;
                        .bold{
                            font-size: 18px;
                            font-family: $fontSofBold;
                            margin-bottom: 8px;
                        }
                        span{
                            color: #4B4B4B;
                            font-size: 16px;
                        }
                    }
            }
        }
        .shema{
            
            // background-image: url("../images/line-bg.svg");
            // background-repeat: no-repeat;
            // background-position: center;
            background-size: contain;
            margin-top: 50px;
            
            .odo-access{
                border-radius: 15px;
                border: 2px dotted rgba(75, 75, 75, 0.315);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 0;
                position: relative;
                margin-right: 8%;
                img{
                    margin: 7px 0;
                    
                }
                .ipd{
                    padding: 5px 0;
                    position: absolute;
                    bottom: 70px;
                    right: -10%;
                    background: white;
                }
                .ipd::after{
                    content: "";
                    width: 30px;
                    background: #601CBA;
                    border: 1px solid #601CBA;
                    position: absolute;
                    margin: 0 auto;
                    top: 50%;
                    right:-40px;
                    border-radius: 2px;
                }
            }
            .odo{
                
                background: url("../images/odo-acces.svg");
                background-repeat: no-repeat;
                background-size: contain;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-height: 180px;
                color: white;
                position: relative;
                z-index: 5;
                .wrapper-odo{
                    position: relative;
                }
                .layer{
                    width: 200px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        height: 20px;
                        right:-240px;
                        .contextual-logo{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 10px;
                            box-shadow: 2px 7px 12px rgba(0, 0, 0, 0.1);
                        }
                        span{
                           color: #4B4B4B;
                            font-size: 16px;
                            opacity: 0.5;
                        }
                        .dotted{
                            z-index: 0;
                            position: absolute;
                            left: 20px;
                            width: 30px;
                            border: 1px dashed #4B4B4B;
                        }
                }
                .odo-line-controller{
                    position: absolute;
                    z-index: 1;
                    left: 130px;
                    top: -105px;
                    .contextual{
                        width: 200px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        top: 30px;
                        right: 40px;
                        .contextual-logo{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 10px;
                            box-shadow: 2px 7px 12px rgba(0, 0, 0, 0.1);
                        }
                        span{
                           color: #4B4B4B;
                            font-size: 16px;
                            opacity: 0.5;
                        }
                        .dotted{
                            position: absolute;
                            right: -34px;
                            width: 30px;
                            border: 1px dashed #4B4B4B;
                        }
                    }
                }
                .wrapper-odo-img{
                    background: white;
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px; 
                    margin-right: 10px;
                    z-index: 5;
                    position: relative;
                }
                h2{
                    font-size: 27px;
                }
                h3{
                    font-size: 22px;
                }
            }
            .card-shema{
                height: auto;
            }
        }
        .wrapper-app-acces{
            
            height: 200px;
            h3{
                display: inline-block;
                font-size: 18px;
                font-family: $fontSofBold;
                color: #4B4B4B;
                background-color: white;
                z-index: 2;
                position: relative;
                padding-right: 70px;
                padding-left: 30px;
            }
            .wrapper{
                height: 80%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                .hexagon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0; 
                    width: 100px; 
                    height: 55px;
                    background: #81E8A1;
                    position: relative;
                    }
                    .hexagon:before, 
                    .hexagon:after {
                    content: "";
                    width: 0; 
                    height: 0;
                    position: absolute; 
                    left: 0;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    }
                    .hexagon:before {
                    top: -25px;
                    border-bottom: 25px solid #81E8A1;
                    }
                    .hexagon:after {
                    bottom: -25px;
                    border-top: 25px solid #81E8A1;
                    }
                    .wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .wrapper-logo{
                       
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: white;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        z-index: 2;
                    }
                    .line{
                        position: absolute;
                        top: -105px;
                        left: 49px;
                        z-index: 0;
                    }
                    .line-saas{
                        top:-95px;
                    }
                    .line-on-prem{
                        top:-60px;
                    }
                    .laas,.saas,.on-prem{
                        position: absolute;
                        top: 90px;
                        font-size: 18px;
                        font-family: $fontSofBold;
                        color: #4B4B4B;
                    }
                    .on-prem{
                        left: 20px;
                    }
                    .laas,.saas{
                        left: 30px;
                    }
            }
        }
    }
    
}