.section1{
    .container-fluid{
        min-height: 100vh;
    background-image: url("../images/Illustration.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-family: $fontSofReg;
    .warpper{
        margin-left: 100px;
    }
    h2{
        margin-top: 95px;
        font-size: 56px;

    }
    p{
        margin-top: 20px;
        font-size: 22px;
    }
    .button-wrapper{
        display: flex;
         justify-content: space-between;
         margin: 0;
         margin-top: 40px;
        
    }
    }
    
}
@media (max-width:768px){
    .section1{
        .container-fluid{
           .row{
               display: flex;
               justify-content: center;
                .warpper{
                margin-left: 0;
                    h2{
                    font-size: 3rem;
                    }
                    .button-wrapper{
                        .btn-light{
                            margin-top:40px;
                        }
                    }
                }
           }
        }
    }
}