.section1{
    .container-fluid{
        height: 100vh;
    background-image: url("../images/Illustration.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-family: $fontSofReg;
    .warpper{
        margin-left: 100px;
    }
    h2{
        margin-top: 95px;
        font-size: 56px;

    }
    p{
        margin-top: 20px;
        font-size: 22px;
    }
    .button-wrapper{
        display: flex;
         justify-content: space-between;
         margin: 0;
         margin-top: 40px;
        
    }
    }
    
}